<head>
<style>
p.hometown { 
    background: yellow;
}
#firstname {
    background-color: pink;
}
</style>
</head>
<body> {
    background-color: lightblue;
}

<div class="intro">
  <p id="firstname">My name is Ryan.</p>
  <p class="hometown">I live in Lehigh Acres.</p>
</div>

h1 {
    color: white;
    text-align: center;
}
    
p {
    font-family: veranda;
    font-size: 20px;
</body>

