<head>
<style>
p.hometown { 
    background: yellow;
}
#firstname {
    background-color: pink;
}
</style>
</head>
<body> {
    background-color: lightblue;
}
    
h1 {
    color: white;
    text-align: center;
}
    
p {
    font-family: veranda;
    font-size: 20px;
</body>

